<div class="container">
<div class="row">
  <form class="form-inline">
    <div class="input-group p-2">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-addon"
             [ngClass]="{success: isValid(useMaleFirstNames), danger: isInvalid(useMaleFirstNames)}">
          <input class="form-inline" type="checkbox" [(ngModel)]="useMaleFirstNames" name="maleFirstName">
        </div>
      </div>
      <div class="input-group-append">
      <span class="input-group-text input-group-addon"
            [ngClass]="{success: isValid(useMaleFirstNames), danger: isInvalid(useMaleFirstNames)}">
            Male First</span>
      </div>
    </div>
    <div class="input-group p-2">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-addon"
             [ngClass]="{success: isValid(useFemaleFirstNames), danger: isInvalid(useFemaleFirstNames)}">
          <input class="form-inline" type="checkbox" [(ngModel)]="useFemaleFirstNames" name="femaleFirstName">
        </div>
      </div>
      <div class="input-group-append">
      <span class="input-group-text input-group-addon"
            [ngClass]="{success: isValid(useFemaleFirstNames), danger: isInvalid(useFemaleFirstNames)}">
            Female First</span>
      </div>
    </div>
    <div class="input-group p-2">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-addon"
             [ngClass]="{success: isValid(useMaleLastNames), danger: isInvalid(useMaleLastNames)}">
          <input class="form-inline" type="checkbox" [(ngModel)]="useMaleLastNames" name="maleLastName">
        </div>
      </div>
      <div class="input-group-append">
      <span class="input-group-text input-group-addon"
            [ngClass]="{success: isValid(useMaleLastNames), danger: isInvalid(useMaleLastNames)}">
            Male Last</span>
      </div>
    </div>
    <div class="input-group p-2 pt-0">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-addon"
             [ngClass]="{success: isValid(useFemaleLastNames), danger: isInvalid(useFemaleLastNames)}">
          <input class="form-inline" type="checkbox" [(ngModel)]="useFemaleLastNames" name="femaleLastName">
        </div>
      </div>
      <div class="input-group-append">
      <span class="input-group-text input-group-addon"
            [ngClass]="{success: isValid(useFemaleLastNames), danger: isInvalid(useFemaleLastNames)}">
      Female Last</span>
      </div>
    </div>
    <div class="input-group p-2">
      <div class="input-group-prepend">
        <div class="input-group-text input-group-addon"
             [ngClass]="{success: isValid(useNeutralLastNames), danger: isInvalid(useNeutralLastNames)}">
          <input class="form-inline" type="checkbox" [(ngModel)]="useNeutralLastNames" name="neutralLastName">
        </div>
      </div>
      <div class="input-group-append">
      <span class="input-group-text input-group-addon"
            [ngClass]="{success: isValid(useNeutralLastNames), danger: isInvalid(useNeutralLastNames)}">
            Neutral Last</span>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-lg-10">
    <input type="text" class="form-control" readonly [value]="getName()">
  </div>
  <div class="col-lg-2">
    <button class="btn btn-primary" type="button" [disabled]="isInvalid(true)" (click)="onClick()">Next Name</button>
  </div>
</div>
</div>
